@import url('https://rsms.me/inter/inter.css');

input[lang=en-us] {
    font-family:
        'Inter',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size:12px;
  }

  input[lang=zh-cn] {
    font-family:SimSun;
    font-size:12px;
  }

@supports (font-variation-settings: normal) {
  html { font-family:
          'Inter var',
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';
        }
}

code {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 85%;
}
