@import url('https://rsms.me/inter/inter.css');
@font-face {
    font-family: SimSun;
    src: url(fonts/SimSun.ttf) format("opentype");
    unicode-range: U+4E00-9FFF, U+3000–303F;
}
  html { font-family:
        'Inter',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
      }
@supports (font-variation-settings: normal) {
  html { font-family:
          'Inter var',
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';
        }
}


code {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 85%;
}
