@import url("https://use.typekit.net/xuf2iol.css");
@import url('https://rsms.me/inter/inter.css');
html { font-family:
        ar-shulinsonggbstd, serif,
        'SimSun',
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
      }
@supports (font-variation-settings: normal) {
  html { font-family:
          ar-shulinsonggbstd, serif,
          'SimSun',
          sans-serif,
          'Apple Color Emoji',
          'Segoe UI Emoji',
          'Segoe UI Symbol';
        }
}

code {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    'SimSun',
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 85%;
}
